
<!-- vista para el usuario cuando accede al componente de regisusuario,
  para todos los componentes se utilizó el mismo diseño, columnas filas y un formulario para llevar un orden.
-->

<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger" style="background: linear-gradient(60deg, #425ad4, #425ad4)">
                      <h4 class="card-title">Registrar usuario</h4>
                      <p class="card-category"> </p>
                  </div>
                 
                  <div class="card-body">
                      <form #formRegisusuario="ngForm" (ngSubmit)="saveNuevoUsuario(formRegisusuario)">
                            <div class="row">
                                    <div class="col-md-12">
                                      <div class="alert alert-danger" role="alert" *ngIf="isError">
                                         Revise los campos, Alguno de los campos presenta un error
                                        </div>
                                      </div>
                                  </div>
                          <div class="row">
                              <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="ID"  [(ngModel)]="regisusuario.iduser" name="iduser" type="number">
                                    </mat-form-field>
                                </div>
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Identificación" [(ngModel)]="regisusuario.identificacion" name="identificacion" type="number">
                                  </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                     
                                        <select class="form-control" style="background-image: linear-gradient(to top, #0a19ca 1px, rgba(210, 210, 210, 0) 1px), linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px)">
                                          <option value="" disabled selected>  Tipo de indentificación </option>
                                          <option> Cédula </option>
                                          <option> NIT </option>
                                          <option> Cédula extranjeria </option>
                                          <option> Pasaporte </option>
                                        </select>
                               
                                    </div>
                                   
                                  </div>
                              <div class="row">
                              <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Nombre(s)" [(ngModel)]="regisusuario.nombres" name="nombres" type="text">
                                  </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Apellido(s):" [(ngModel)]="regisusuario.apellidos" name="apellidos" type="text">
                                  </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                       
                                  <select class="form-control" [(ngModel)]="regisusuario.idTipoUsuario"  name="idTipoUsuario" style="background-image: linear-gradient(to top, #0a19ca 1px, rgba(210, 210, 210, 0) 1px), linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px)">
                                        <option value="" disabled selected> Tipo de usuario </option>
                                      <option> Gestor </option>
                                      <option> Cliente </option>
                            
                                    </select>
                              </div>

                              </div>
                          
                          <div class="row">
                              <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Correo electrónico" [(ngModel)]="regisusuario.correo" name="correo" type="email">
                                  </mat-form-field>
                                </div>
                              
                                <div class="col-md-4">
                                      <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Contraseña" [(ngModel)]="regisusuario.contrasena" name="usuarios.contrasena" type="password">
                                      </mat-form-field>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-form-field class="example-full-width">
                                          <input matInput placeholder="Confirmar contraseña" type="password">
                                        </mat-form-field>
                                      </div>
                          </div>
                          <div class="row">
                                  <div class="col-md-4">
                                           
                                            <select class="form-control" [(ngModel)]="regisusuario.estado" name="estado" style="background-image: linear-gradient(to top, #0a19ca 1px, rgba(210, 210, 210, 0) 1px), linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px)">
                                                  <option value="" disabled selected> Estado civil </option>
                                                <option> Soltero </option>
                                                <option> Casado </option>
                                                <option> Unión libre </option>
                                                <option> Divorciado </option>
                                              </select>
                                        </div>
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Fecha de nacimiento" [(ngModel)]="regisusuario.createdAt" name="createdAt" type="date">
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Zona" [(ngModel)]="regisusuario.zona" name="zona" type="text">
                                </mat-form-field>
                              </div>
                       
                          </div>

                          <div class="row">
                          
                                  <button mat-raised-button (click)="saveNuevoUsuario()" class="btn btn-danger pull-right" style="background-color: #2e76d0">
                                    Agregar
                                </button>
                                     
                           <!--       <button mat-raised-button type="submit" class="btn btn-danger pull-right" style="background-color: #2e76d0">Guardar</button> -->
                              
                           <!--   <div class="col-md-12">
                                <label>About Me</label>
                                <mat-form-field class="example-full-width">
                                   <textarea matInput placeholder="Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo."></textarea>
                                 </mat-form-field> -->
                                  <!-- <div class="form-group">

                                      <div class="form-group">
                                          <label class="bmd-label-floating"> Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</label>
                                          <textarea class="form-control" rows="5"></textarea>
                                      </div>
                                  </div> 
                              </div> -->
                            </div>
                          <div class="clearfix"></div>
                      </form>
                  </div>
              </div>
          </div>
       
      </div>
  </div>
</div>
<div class="col-md-12">
    <div class="card card-plain">
        <div class="card-header card-header-danger" style="background: linear-gradient(60deg, #425ad4, #425ad4)">
            <h4 class="card-title mt-0"> Lista de usuarios </h4>
       
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead class="">
                        <th>
                            ID
                        </th>
                        <th>
                            Identificación
                        </th>
                        <th>
                            Nombre
                        </th>
                        <th>
                            apellido
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Eliminar
                        </th>
                        <th>
                            Modificar Datos
                        </th>
                        
                    </thead>
                    <tbody *ngFor="let user of usuario | paginate: { itemsPerPage: 5, currentPage: pageActual }">
                        <tr>
                            <td>
                                {{ user.iduser }}
                            </td>
                            <td>
                                {{ user.identificacion }}
                            </td>
                            <td>
                                {{ user.nombres }}
                            </td>
                            <td>
                                {{ user.apellidos }}
                            </td>

                            <td>
                                {{ user.correo }}
                            </td>
                            <td>
                                <button mat-raised-button class="btn btn-success btn-block" (click)="deleteUnUsuario(user.iduser)" style="background-color: #2e76d0">
                                      Eliminar
                                </button>
                            </td>
                            <td>
                                <button mat-raised-button class="btn btn-success btn-block" (click)="updateUnUsuario()" style="background-color: #2e76d0">
                                  Modificar
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
            </div>
        </div>
    </div>
